# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules

# Build output
dist
dist-ssr

# Environment variables
.env
.env.*.local

# Google Cloud credentials or sensitive keys
service-account-key.json
# Exclude all JSON files except package.json
*.json
!package.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files
Thumbs.db
Desktop.ini

# Local Firebase configuration
firebase-debug.log
